<!-- Navbar -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
          <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top">
          <i class="fa fa-play-circle"></i>  <img id="logo" src = "../aryaallanlogo.png" alt="arya allan">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
          <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden active">
            <a href="#page-top"></a>
        </li>
        <li class="">
            <a class="page-scroll" href="#about">About</a>
        </li>

        <li class="">
            <a class="page-scroll" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<!--         <li class="">
            <a class="page-scroll" href="#download">Download</a>
        </li> -->

<!-- header -->
<header class="intro">
  <div class="intro-body">
      <div class="container">
          <div class="row">
              <div class="col-md-8 col-md-offset-2">
                  <h1 class="brand-heading">Arya Allan</h1>
                  <p class="intro-text">Tech Insight and Consultation for Women By Women</p>
                  <a href="#contact" class="btn btn-red page-scroll">Make Your Business Better Now</a>
              </div>
          </div>
      </div>
  </div>
</header>

<!-- top header -->
<div class="topborder">
</div>

<!-- about -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-md-6">
      <h2>About </h2>
      <p>Arya Allan seeks out new business founded by talented and highly motivated women. We consult on overall business, general tech specs and specific applications for both web and mobile. Previous projects include interior design apps, business consultation for an innovative female focused comic book empire, and internal website application redesign for an education company. All of these business were started by women.</p>
    </div>
    <div class="col-md-4 col-md-offset-1">
      <img src="../img/aryaallandesk.jpg" class="img-responsive" alt="woman's desk">
    </div>
  </div>

</section>

<!-- Our Managing Director -->
<div class="red-background">
  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <img src="../img/wireframe.jpg" class="img-responsive" alt="wireframe">
    </div>
    <div class="col-md-4 col-md-offset-1">
      <h2>Our Managing Director </h2>
      <p>As a Yale educated entrepreneur and manager in the US and China, Ms. Flores has worked across multiple industries ranging from a Revenue Manager for Groupon to Director of Operations for a Chinese education startup in Beijing. Upon moving back to the US, she fell in love with programming and design. This is her love child. </p>
    </div>
  </div>
</div>

<!-- contact -->
<section id="contact" class="container content-section text-center">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Start Your Project Now</h2>
  </div>
  <div class= "row">
    <div class= "col-md-4 col-md-offset-4">
      <form>
       <div class="form-group">
          <label for="exampleInputEmail1">Contact Name</label>
          <input type="text" class="form-control" id="exampleInputEmail1" >
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Contact Email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" >
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Project Information</label>
          <input type="textarea" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-red">Submit</button>
      </form>
    </div>
  </div>
</section>

<!--       <ul class="list-inline banner-social-buttons">
        <li>
            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
        </li>
        <li>
            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
        </li>
        <li>
            <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
        </li>
    	</ul> -->


<!-- footer -->
<footer>
  <div class="container text-center">
    <p>&copy; Arya Allan, LLC. </p>
  </div>
</footer>